<header>

  <a id="nav-icon" onClick="openMenu()" href="#">
    <svg width="30" height="30">
      <path d="M0,5 30,5" stroke="#0a3847" stroke-width="5"/>
      <path d="M0,14 30,14" stroke="#0a3847" stroke-width="5"/>
      <path d="M0,23 30,23" stroke="#0a3847" stroke-width="5"/>
    </svg>
  </a>

  <h1 id="main-title">Kalender</h1>
  <h2>
    Today:
    {{ now.day }}{% if now.day == 1 or now.day == 21 or now.day == 31 %}st{% elif now.day == 2 or now.day == 22 %}nd{% elif now.day == 3 or now.day == 23 %}rd{% else %}th{% endif %}
    {{ now_month_name }},
    {{ now.year }}
  </h2>



  <nav id="side-nav">

    <div id="nav-close" onClick="closeMenu()">&times;</div>

    <a href="/">Home</a>
    <a href="About">About</a>
    {% if session.logged_in %}
      <a class="nav-item nav-link" href="logout">Logout</a>
    {% else %}
      <a class="nav-item nav-link" href="register">Register</a>
      <a class="nav-item nav-link" href="login">Login</a>
    {% endif %}

  </nav>

</header>
