<header>
  <a href="/"><h1>Kalender</h1></a>
  <h2>
    Today:
    {{ now.day }}{% if now.day == 1 or now.day == 21 or now.day == 31 %}st{% elif now.day == 2 or now.day == 22 %}nd{% elif now.day == 3 or now.day == 23 %}rd{% else %}th{% endif %}
    {{ now_month_name }},
    {{ now.year }}
  </h2>


<nav class="navbar">
      <a class="nav-item nav-link active" href="/">Home</a>
      {% if session.logged_in %}
        <a class="nav-item nav-link" href="logout">Logout</a>
      {% else %}
        <a class="nav-item nav-link" href="register">Register</a>
        <a class="nav-item nav-link" href="login">Login</a>
      {% endif %}
</nav>

</header>
