$eerie: #191919;
$english: #dd7975;
$gold: #cca559;
$creme: #ffe;
$white: #eee;
$river: #0a3847;
$sapphire: #1e6870;
$grey: #818181;
$lightgrey: #c0c0c0;
$babe: #98babe;
$electric: #0056e2;

/*
Based on Eric Meyer's CSS reset:
http://meyerweb.com/eric/tools/css/reset/
*/
a {
	text-decoration: none;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*----------------------------------------------------------------------------/*

                                              CUSTOM STYLES BEGIN ->

==========================================================================*/

body {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: $eerie;
  font-size: 16px;
  color: $eerie;
}
body.iframe-body {
	background-color: $creme;
	margin: 0;
	padding: 0;
}

/*----------------------------------------------------------------------------/*

                                              LAYOUT ->

==========================================================================*/

.main-container {
  width: 100%;
  position: absolute;
  margin: 22px auto 22px auto;
}
.main-window {
  border-radius: 5px;
  background-color: $river;
  min-width: 810px;
  width: 85%;
  margin: 22px auto;
  box-shadow: 0 10px 30px #000;
}
.form-box {
  border-radius: 5px;
  background-color: $creme;
  box-shadow: 0 10px 30px #000;
	margin: 60px auto;
}
.form-box-small {
	width: 300px;
}
.form-box-large {
	width: 85%;
	min-width: 810px;
}

/*----------------------------------------------------------------------------/*

                                              TYPOGRAPHY ->

==========================================================================*/

h1 {
  font-size: 4em;
  color: $river; //find me //find me
}
h3,
h3 a {
	font-size: 1.7em;
	color: $grey;
	margin-top: 22px;
}
h3 a:hover {
	color: $english;
}
strong {
	font-weight: 600;
}

/*----------------------------------------------------------------------------/*

                                              HEADER ->

==========================================================================*/

header {
	background-color: $white;
	height: 50px;
	width: 100%;
}
// Clearfix for today's date float
header::after {
	content: "";
	clear: both;
	display: table;
}
header h2 {
	font-size: 2.2em;
	font-weight: 200;
	color: $river;
	display: inline-block;
	float: right;
	margin-right: 7.5%;
	margin-top: 9px;
}
header a {
	color: $river;
}
#nav-icon {
	display: inline-block;
	margin-left: 7.5%;
	margin-right: -69px;
	margin-top: 12px;
	padding-bottom: 22px;
}
nav#side-nav {
	color: $creme;
	width: 0;
	background: darken($eerie, 5%);
	color: #gold;
	height: 100%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	opacity: 0.95;
	overflow-x: hidden;
	padding-top: 88px;
	transition: 0.3s;
}
nav#side-nav a {
	color: $creme;
	display: block;
	margin: 0 0 44px 44px;
	font-size: 1.3em;
	transition: 0.2s;
}
nav#side-nav a:hover,
nav#side-nav a:focus {
	color: $gold;
}
nav#side-nav #nav-close {
	font-size: 2em;
	position: absolute;
	top: 44px;
	right: 44px;
	cursor: pointer;
	transition: 0.2s;
}
nav#side-nav #nav-close:hover,
nav#side-nav #nav-close:focus {
	color: $english;
}

/*----------------------------------------------------------------------------/*

                                              MODAL STYLES ->

==========================================================================*/

.modal {
	position:fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
	overflow: visible;
}

#modal-window {
	display: none;
}

#modal-iframe {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.modal-content {
  background-color: #f4f4f4;
  margin: 70px auto;
  width: 80%;
	height: 80%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.6), 0 7px 20px 0 rgba(0, 0, 0, 0.6);
  animation-name: modal-open;
  animation-duration: 1s;
	border-radius: 5px;
}

#btn-close {
  color: $english;
  font-size: 60px;
	position: fixed;
	top: 20px;
	right: 7.5%;

}

#btn-close:hover,
#btn-close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}


/*----------------------------------------------------------------------------/*

                                              TABLES ->

==========================================================================*/

table {
  width: 100%;
	vertical-align: top;
}
thead {
	border-radius: 5px;
}
th {
	background: $river;
	padding: 22px;
	color: $creme;
	font-weight: 100;
	font-size: 1.2em;
	text-align: center;
}
th:first-child {
	border-radius: 5px 0 0 0;
}
th:last-child {
	border-radius: 0 5px 0 0;
}
td {
	background: $creme;
	color: $eerie;
	padding: 44px;
}
tfoot td {
	background: $river;
	border-top: solid 1px $eerie;
	padding: 22px;
}
tfoot tr:last-child td:first-child {
	text-align: left;
  border-radius: 0 0 0 5px;
}
tfoot tr:last-child td:last-child {
	text-align: right;
  border-radius: 0 0 5px 0;
}

/*----------------------------------------------------------------------------/*

                                              MAIN CALENDAR ->

==========================================================================*/

.main-calendar td {
  width: 14%;
	text-align: center;
	padding: 0;
	height: 72px;
  overflow: hidden;
}
.main-calendar td a {
	color: $eerie;
	padding: 22px;
	display: block;
	width: 100%;
	height: 100px;
}
.main-calendar td a:hover {
  background: $babe;
	text-decoration: none;
	color: $river;
}
.today-highlight a {
	background: $gold;
	color: $eerie;
}
td.other-month {
  background: $lightgrey;
  color: $grey;
}
.small-titles {
	margin-top: 10px;
	background-color: $english;
	border-radius: 7px;
}
.small-titles li {
	list-style-type: square;
	list-style-position: inside;
	font-size: 0.8em;
	line-height: 1.5em;
	color: $creme;
}
tfoot h3 {
	color: $gold;
	font-size: 40px;
	font-weight: 200;
	margin-top: 6px;
}
h3.month-selector-other a {
  height: 100%;
  color: $lightgrey;
	font-size: 0.7em;
	margin: 0;
}
.arrow {
	color: $eerie;
	padding: 0 12px 8px 12px;
}
h3.month-selector-other a:hover,
h3.month-selector-other .arrow a:hover {
  height: 100%;
  color: $lightgrey;
	background-color: $river;
	border-bottom: 4px solid $lightgrey; //find me
}


/*----------------------------------------------------------------------------/*

                                              FORMS ->

==========================================================================*/

form {
  width: 100%;
  height: 100%;
}
fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}
.form-fields {
  padding: 22px;
}
.form-fields label {
  color: $river;
  display: block;
  font-weight: bold;
  margin-bottom: 22px;
}
.form-fields input {
  background: #fff;
  border: 1px solid $lightgrey;
  box-shadow: inset 1px 2px rgba(0, 0, 0, .1);
  color: $eerie;
  padding: 6px;
  margin-top: 6px;
  width: 100%;
}
.form-action {
  border-radius: 0 0 5px 5px;
}
.form-action label {
  color: $creme;
  font-size: 12px;
  margin: 10px 0 0 20px;
}
.btn {
	border: 0;
  cursor: pointer;
	font-size: 1em;
  font-weight: bold;
  padding: 8px 16px;
	color: $eerie;
}
.btn-create,
.form-action .btn {
  background: $gold;
}
.btn-create:hover,
.form-action .btn:hover {
	background: $eerie;
	color: $creme;
}
.btn-delete {
	background: $english;
}
.btn-edit {
	background: $eerie;
	color: $creme;
}

.btn-select {
	background: $eerie;
	color: $gold;
}
form select {
	font-size: 1.5em;
	background: $eerie;
	color: $creme;
	border-radius: 0;
	border-color: $grey;
}


/*----------------------------------------------------------------------------/*

                                              DATE NOTES TABLE ->

==========================================================================*/

h2.datenote-date {
	color: $gold;
	display: inline-block;
	font-weight: 400;
	font-size: 1.8em;
}
.datenote-head th {
	border-radius: 0;
}
tr.col-filler {
	height: 80px;
}
.datenote-table {
	margin: 0;
	padding: 0;
	height: 100%;
	padding-bottom: 80px;
}
.datenote-title {
	text-align: left;
}
.datenote-description {
	text-align: left;
}
.datenote-options {
	text-align: right;
	padding: 22px;
}




.modal-footer {
	position: fixed;
	width: 100%;
	height: 80px;
	background: $river;
	bottom: 0;
	left: 0;
	padding: 22px;
	border-top: solid 1px #191919;
	border-radius: 0;
	z-index: 1;
}

.edit-form {
	margin-bottom: 80px;
}

.btn-footer {
	float: right;
}


/*----------------------------------------------------------------------------/*

                                              ALERTS ->

==========================================================================*/

.alert {
	height: 120px;
	padding: 12px;
	text-align: center;
	font-weight: 600;
	width: 100%;
	position: absolute;
	bottom: 0;
	z-index: 0.9;
}
.alert-danger {
	background: $english;
}
.alert-success {
	background: #8eff8e;
}
