{% extends 'modal-layout.html' %}

{% block body %}

  {% from "includes/_formhelpers.html" import render_field %}

    <form action="" method="POST">
      <fieldset class="form-fields">
        <label for="title">
          {{ render_field(form.title, class_="form-conrol") }}
        </label>
        <label for="body">
          {{ render_field(form.body, class_="form-control", id="editor") }}
        </label>
      </fieldset>

      <div class="modal-footer form-action">
          <h2 class="datenote-date">
            {{ day }}{% if day == 1 or day == 21 or day == 31 %}st{% elif day == 2 or day == 22 %}nd{% elif day == 3 or day == 23 %}rd{% else %}th{% endif %}
            {{ selected_month_name }},
            {{ year }}
          </h2>
          <input class="btn btn-footer" type="submit" name="submit" value="Create Note">
      </div>

    </form>

  <script src="https://cdn.ckeditor.com/ckeditor5/1.0.0-beta.3/classic/ckeditor.js"></script>
  <script type="text/javascript">
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
  </script>

{% endblock %}
