{% extends 'layout.html' %}

{% block body %}

<header>
  <h1>
    Create note:
  </h1>

<h2>
  {{ day }}{% if day == 1 or day == 21 or day == 31 %}st{% elif day == 2 or day == 22 %}nd{% elif day == 3 or day == 23 %}rd{% else %}th{% endif %}
  {{ selected_month_name }},
  {{ year }}
</h2>
</header>

  {% from "includes/_formhelpers.html" import render_field %}
  <section class="form-box form-box-large">

    <form action="" method="POST">
      <fieldset class="form-fields">
        <label for="title">
          {{ render_field(form.title, class_="form-conrol") }}
        </label>
        <label for="body">
          {{ render_field(form.body, class_="form-control", id="editor") }}
        </label>
      </fieldset>
      <fieldset class="form-action">
        <input class="btn" type="submit" name="submit" value="Create Note">
      </fieldset>
    </form>
  </section>

{% endblock %}
