{% extends 'modal-layout.html' %}

{% block body %}

<table class="datenote-table">
  <thead class="datenote-head">
    <th class="datenote-title" scope="col">
      Title / time
    </th>
    <th class="datenote-description">Description</th>
    <th class="datenote-options">Options</th>
  </thead>
  <tbody>
    {% for note in notes %}
      <tr>
        <td class="datenote-title"><strong>{{ note.title }}</strong></td>
        <td class="datenote-body">{{ note.body|safe }}</td>
        <td class="datenote-options">
          <a class="btn btn-edit" href="edit-note_{{ note.id }}">Edit</a>
          <a class="btn btn-delete" href="delete-note_{{ note.id }}">Delete</a>
        </td>
      </tr>
    {% endfor %}
      <tr class="col-filler">
        <td colspan="3">
      </tr>
  </tbody>
</table>

<div class="modal-footer">
  <h2 class="datenote-date">{{day}} {{selected_month_name}} {{year}}</h2>
  <a class="btn btn-create btn-footer" href="create-note_{{ year }}-{{ month }}-{{ day }}">Create a New Note</a>
</div>

{% endblock %}
