{% extends 'layout.html' %}

{% block body %}

<section class="main-window main-calendar">
  <table>
    <thead>
      <th scope="col">Mon</th>
      <th scope="col">Tues</th>
      <th scope="col">Wed</th>
      <th scope="col">Thurs</th>
      <th scope="col">Fri</th>
      <th scope="col">Sat</th>
      <th scope="col">Sun</th>
    </thead>
    <tbody>
      {% for week in cal_month %}
        <tr>
          {% for day in week %}
            {% if day > 31 %}
              {% if day == 32 %} <!-- if the cell is 1st of next month -->
                <td class="other-month">
                  <a href="#">
                    1 {{ month_name_next }}
                  </a>
                </td>
              {% else %} <!-- if the cell is previous or next month -->
                <td class="other-month">
                  <a href="#">
                    {{ (day / 32)|int }}
                  </a>
                </td>
              {% endif %}
            {% elif day == now.day and current_month == now.month and current_year == now.year %}
              <td class="today-highlight"><a href="{{ current_year }}-{{ current_month }}-{{ day }}">{{ day }}


                <ul class="small-titles">
                  {% for note in notes %}
                    {% if note['date_day'] == day %}
                      <li>{{note['title']}}</li>
                    {% endif %}
                  {% endfor %}
                </ul>


              </a></td>
            {% elif day == 1 %}
              <td><a href="{{ current_year }}-{{ current_month }}-1">1 {{ month_name_current }}


                <ul class="small-titles">
                  {% for note in notes %}
                    {% if note['date_day'] == day %}
                      <li>{{note['title']}}</li>
                    {% endif %}
                  {% endfor %}
                </ul>


              </a></td>
            {% else %}
              <td><a href="{{ current_year }}-{{ current_month }}-{{ day }}">{{ day }}


                <ul class="small-titles">
                  {% for note in notes %}
                    {% if note['date_day'] == day %}
                      <li>{{note['title']}}</li>
                    {% endif %}
                  {% endfor %}
                </ul>

              </a></td>
            {% endif %}
          {% endfor %}
        </tr>
      {% endfor %}

</tbody>
<tfoot>
  <tr>
    <td colspan="2">
      <h3 class="month-selector-other"><a href="{{month_prev}}_{% if month_prev == 12 %}{{current_year-1}}{% else %}{{current_year}}{% endif %}">{{ month_name_prev }}</a></h3>
    </td>
    <td colspan="3"><h3>{{ month_name_current }} {{ current_year }}</h3></td>
    <td colspan="2">
      <h3 class="month-selector-other"><a href="{{month_next}}_{% if month_next == 1 %}{{current_year+1}}{% else %}{{current_year}}{% endif %}">{{ month_name_next }}</a></h3>
    </td>
  </tr>
</tfoot>
</table>
</section>

{% endblock %}
