{% extends 'layout.html' %}

{% block body %}

  <section class="small-box">
    <form action="/login" method="POST">
      <fieldset class="account-info">
      <label for="username">
        Username
        <input type="text" name="username">
      </label>
      <label for="password">
        Password
        <input type="password" name="password">
      </label>
      </fieldset>
      <fieldset class="account-action">
        <input class="btn" type="submit" name="submit" value="Login">
        <label for="remember">
          <input type="checkbox" name="remember"> Stay signed in
        </label>
      </fieldset>
    </form>
  </section>

{% endblock %}
